<div class="m-1">
    <button type="button" class="btn btn-primary" data-toggle="modal"
            data-target="#add-modal">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Add
    </button>

    <!-- MODAL ADD -->
    <div class="modal fade" id="add-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Add character
                    </h5>
                </div>
                <form id="add-user-form">

                    <div class="modal-body">

                        <div class="form-group ">
                            <label for="form-add-id">ID</label>
                            <input type="number" class="form-control" id="form-add-id"
                                   name="id" required>
                        </div>
                        <div class="form-group">
                            <label for="form-add-name">Name</label>
                            <input type="text" class="form-control" id="form-add-name"
                                   name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="form-add-short-description">Short Description</label>
                            <textarea type="text" class="form-control" id="form-add-short-description"
                                      name="deck" required></textarea>
                        </div>

                        <div class="form-group">
                            <label for="form-add-long-description">Long Description</label>
                            <textarea type="text" class="form-control" id="form-add-long-description"
                                      name="description"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="form-add-image">Image URL</label>
                            <input type="url" class="form-control" id="form-add-image"
                                   name="image" required>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Close
                        </button>
                        <button type="submit" class="btn btn-primary btn-submit">
                            Save changes
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>
    <!-- FI MODAL ADD -->

</div>

<div class="card-columns ">
    <% for(character of characters) { %>
    <% if ((character.deck != '') && (character.image != '')) { %>

    <div id="card-<%= character.id %>" class="card border rounded m-1 w-10">
        <div class="thumb"
             style="background-image: url(<%= character.image %>)">
        </div>
        <div class="card-block">
            <h4 class="card-title">
                <%= character.name %>
            </h4>
            <p class="card-text">
                <%= character.deck %>
            </p>

            <div>
                <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#<%= character.id %>-modal">
                    <i class="fa fa-search" aria-hidden="true"></i> Details
                </button>

                <button type="button" class="btn btn-warning btn-modify" data-toggle="modal"
                        data-target="#<%= character.id %>-edit-modal">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    Edit
                </button>

                <button type="button" class="btn btn-danger btn-delete" data-id="<%= character.id %>">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Remove
                </button>
            </div>

            <!-- MODAL DETALLS -->
            <div class="modal fade " id="<%= character.id %>-modal">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                <%= character.name %>
                            </h5>
                        </div>
                        <div class="modal-body">
                            <% if (character.description != '') { %>
                            <%- character.description %>
                            <% } else { %>
                            <h5> No description </h5>
                            <% } %>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FI MODAL DETALLS -->

            <!-- MODAL EDITAR -->
            <div class="modal fade" id="<%= character.id %>-edit-modal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                Add character
                            </h5>
                        </div>
                        <form id="edit-user-form-<%= character.id %>"
                              data-id="<%= character.id %>"
                              class="edit-form">

                            <div class="modal-body">

                                <div class="form-group">
                                    <label for="form-add-id">ID</label>
                                    <input type="number" class="form-control" id="form-add-id"
                                           name="id"
                                           value="<%= character.id %>"
                                           required>
                                </div>
                                <div class="form-group">
                                    <label for="form-add-name">Name</label>
                                    <input type="text" class="form-control" id="form-add-name"
                                           value="<%= character.name %>"
                                           name="name" required>
                                </div>
                                <div class="form-group">
                                    <label for="form-add-short-description">Short Description</label>
                                    <textarea type="text" class="form-control" id="form-add-short-description"
                                              name="deck" required><%= character.deck %></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="form-add-long-description">Long Description</label>
                                    <textarea type="text" class="form-control" id="form-add-long-description"
                                              name="description"><%= character.description %></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="form-add-image">Image URL</label>
                                    <input type="url" class="form-control" id="form-add-image"
                                           value="<%= character.image %>"
                                           name="image" required>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Close
                                </button>
                                <button type="submit" class="btn btn-primary btn-submit">
                                    Save changes
                                </button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
            <!-- FI MODAL EDITAR -->

        </div>
    </div>

    <% } %>
    <% } %>
</div>